body{
	background-color: #BBBBBB;
	font-family: Sans-Serif;
}		

h1{
	font-family: Serif;
	text-align: center;
	border-style: dotted dashed solid double;
}

h2{
	font-family: Serif;
	color: red;
	text-align: center;
	border-style: double;
	border-color: red;
}

a{
	color: hotpink;
	text-decoration: none;
}
		
a:hover{
	color: white;
	transition: 1s;
}

ol{
	color: #F5BF42;
	font-size: 50px;
	font-weight: bold;
}

p{
	color: magenta;
	text-align: center;
}

span{
	color: black;
	font-weight: bold;
	text-align: center;
}

