@import url("https://themes.googleusercontent.com/fonts/css?kit=RFda8w1V0eDZheqfcyQ4EGb3DKsRMD34dqg1gT8Z-p6isjtAVhoKeKPV_uAAgBOSk3k702ZOKiLJc3WVjuplzPesZW2xOQ-xsNqO47m55DA");
/* ul.lst-kix_exz8a46j8ltc-7 {
  list-style-type: none;
}
ul.lst-kix_dis5xyld7qab-1 {
  list-style-type: none;
}
ul.lst-kix_exz8a46j8ltc-6 {
  list-style-type: none;
}
ul.lst-kix_dis5xyld7qab-0 {
  list-style-type: none;
}
ul.lst-kix_exz8a46j8ltc-8 {
  list-style-type: none;
}
ul.lst-kix_dis5xyld7qab-5 {
  list-style-type: none;
}
ul.lst-kix_dis5xyld7qab-4 {
  list-style-type: none;
}
ul.lst-kix_dis5xyld7qab-3 {
  list-style-type: none;
}
.lst-kix_vjpd0lhu9sqt-8 > li:before {
  content: "\0025a0  ";
}
ul.lst-kix_dis5xyld7qab-2 {
  list-style-type: none;
}
.lst-kix_dtioxxule6tl-1 > li:before {
  content: "\0025cb  ";
}
.lst-kix_dtioxxule6tl-3 > li:before {
  content: "\0025cf  ";
}
.lst-kix_vjpd0lhu9sqt-1 > li:before {
  content: "\0025cb  ";
}
.lst-kix_p33w5eaoe1l3-0 > li:before {
  content: "\0025cf  ";
}
.lst-kix_dtioxxule6tl-0 > li:before {
  content: "\0025cf  ";
}
.lst-kix_dtioxxule6tl-4 > li:before {
  content: "\0025cb  ";
}
.lst-kix_vjpd0lhu9sqt-0 > li:before {
  content: "\0025cf  ";
}
.lst-kix_p33w5eaoe1l3-1 > li:before {
  content: "\0025cb  ";
}
.lst-kix_dtioxxule6tl-2 > li:before {
  content: "\0025a0  ";
}
.lst-kix_p33w5eaoe1l3-6 > li:before {
  content: "\0025cf  ";
}
.lst-kix_p33w5eaoe1l3-8 > li:before {
  content: "\0025a0  ";
}
.lst-kix_p33w5eaoe1l3-5 > li:before {
  content: "\0025a0  ";
}
.lst-kix_p33w5eaoe1l3-2 > li:before {
  content: "\0025a0  ";
}
.lst-kix_p33w5eaoe1l3-4 > li:before {
  content: "\0025cb  ";
}
.lst-kix_vjpd0lhu9sqt-2 > li:before {
  content: "\0025a0  ";
}
.lst-kix_p33w5eaoe1l3-3 > li:before {
  content: "\0025cf  ";
}
.lst-kix_vjpd0lhu9sqt-3 > li:before {
  content: "\0025cf  ";
}
.lst-kix_vjpd0lhu9sqt-4 > li:before {
  content: "\0025cb  ";
}
ul.lst-kix_exz8a46j8ltc-1 {
  list-style-type: none;
}
.lst-kix_vjpd0lhu9sqt-5 > li:before {
  content: "\0025a0  ";
}
.lst-kix_vjpd0lhu9sqt-7 > li:before {
  content: "\0025cb  ";
}
ul.lst-kix_exz8a46j8ltc-0 {
  list-style-type: none;
}
ul.lst-kix_exz8a46j8ltc-3 {
  list-style-type: none;
}
ul.lst-kix_exz8a46j8ltc-2 {
  list-style-type: none;
}
ul.lst-kix_exz8a46j8ltc-5 {
  list-style-type: none;
}
.lst-kix_vjpd0lhu9sqt-6 > li:before {
  content: "\0025cf  ";
}
ul.lst-kix_exz8a46j8ltc-4 {
  list-style-type: none;
}
.lst-kix_p33w5eaoe1l3-7 > li:before {
  content: "\0025cb  ";
}
.lst-kix_eiq15v8qhc3b-8 > li:before {
  content: "\0025a0  ";
}
.lst-kix_eiq15v8qhc3b-7 > li:before {
  content: "\0025cb  ";
}
.lst-kix_eiq15v8qhc3b-6 > li:before {
  content: "\0025cf  ";
}
.lst-kix_eiq15v8qhc3b-4 > li:before {
  content: "\0025cb  ";
}
.lst-kix_eiq15v8qhc3b-3 > li:before {
  content: "\0025cf  ";
}
.lst-kix_eiq15v8qhc3b-5 > li:before {
  content: "\0025a0  ";
}
.lst-kix_yf0reg1hr7j1-6 > li:before {
  content: "\0025cf  ";
}
.lst-kix_yf0reg1hr7j1-8 > li:before {
  content: "\0025a0  ";
}
.lst-kix_dis5xyld7qab-5 > li:before {
  content: "\0025a0  ";
}
.lst-kix_yf0reg1hr7j1-7 > li:before {
  content: "\0025cb  ";
}
.lst-kix_eiq15v8qhc3b-0 > li:before {
  content: "\0025cf  ";
}
.lst-kix_eiq15v8qhc3b-1 > li:before {
  content: "\0025cb  ";
}
.lst-kix_dis5xyld7qab-4 > li:before {
  content: "\0025cb  ";
}
.lst-kix_eiq15v8qhc3b-2 > li:before {
  content: "\0025a0  ";
}
.lst-kix_dis5xyld7qab-3 > li:before {
  content: "\0025cf  ";
}
.lst-kix_dis5xyld7qab-0 > li:before {
  content: "\0025cf  ";
}
.lst-kix_dis5xyld7qab-2 > li:before {
  content: "\0025a0  ";
}
.lst-kix_dis5xyld7qab-1 > li:before {
  content: "\0025cb  ";
}
ul.lst-kix_5i8t7umqdy6e-6 {
  list-style-type: none;
}
ul.lst-kix_5i8t7umqdy6e-5 {
  list-style-type: none;
}
ul.lst-kix_5i8t7umqdy6e-4 {
  list-style-type: none;
}
ul.lst-kix_5i8t7umqdy6e-3 {
  list-style-type: none;
}
ul.lst-kix_5i8t7umqdy6e-8 {
  list-style-type: none;
}
ul.lst-kix_5i8t7umqdy6e-7 {
  list-style-type: none;
}
ul.lst-kix_5i8t7umqdy6e-2 {
  list-style-type: none;
}
ul.lst-kix_5i8t7umqdy6e-1 {
  list-style-type: none;
}
ul.lst-kix_5i8t7umqdy6e-0 {
  list-style-type: none;
}
.lst-kix_dis5xyld7qab-6 > li:before {
  content: "\0025cf  ";
}
.lst-kix_dis5xyld7qab-7 > li:before {
  content: "\0025cb  ";
}
.lst-kix_dis5xyld7qab-8 > li:before {
  content: "\0025a0  ";
}
.lst-kix_assmsf8ayi2q-1 > li:before {
  content: "\0025cb  ";
}
.lst-kix_ygbnepq87741-6 > li:before {
  content: "\0025cf  ";
}
.lst-kix_ygbnepq87741-4 > li:before {
  content: "\0025cb  ";
}
ul.lst-kix_eiq15v8qhc3b-0 {
  list-style-type: none;
}
.lst-kix_assmsf8ayi2q-5 > li:before {
  content: "\0025a0  ";
}
.lst-kix_ygbnepq87741-2 > li:before {
  content: "\0025a0  ";
}
ul.lst-kix_eiq15v8qhc3b-5 {
  list-style-type: none;
}
ul.lst-kix_d52h1clnbs3c-5 {
  list-style-type: none;
}
ul.lst-kix_eiq15v8qhc3b-6 {
  list-style-type: none;
}
ul.lst-kix_d52h1clnbs3c-6 {
  list-style-type: none;
}
ul.lst-kix_eiq15v8qhc3b-7 {
  list-style-type: none;
}
ul.lst-kix_d52h1clnbs3c-7 {
  list-style-type: none;
}
ul.lst-kix_eiq15v8qhc3b-8 {
  list-style-type: none;
}
ul.lst-kix_d52h1clnbs3c-8 {
  list-style-type: none;
}
ul.lst-kix_eiq15v8qhc3b-1 {
  list-style-type: none;
}
ul.lst-kix_eiq15v8qhc3b-2 {
  list-style-type: none;
}
ul.lst-kix_eiq15v8qhc3b-3 {
  list-style-type: none;
}
.lst-kix_assmsf8ayi2q-3 > li:before {
  content: "\0025cf  ";
}
.lst-kix_ygbnepq87741-0 > li:before {
  content: "\0025cf  ";
}
ul.lst-kix_eiq15v8qhc3b-4 {
  list-style-type: none;
}
ul.lst-kix_d52h1clnbs3c-0 {
  list-style-type: none;
}
ul.lst-kix_d52h1clnbs3c-1 {
  list-style-type: none;
}
ul.lst-kix_d52h1clnbs3c-2 {
  list-style-type: none;
}
ul.lst-kix_d52h1clnbs3c-3 {
  list-style-type: none;
}
ul.lst-kix_d52h1clnbs3c-4 {
  list-style-type: none;
}
.lst-kix_yf0reg1hr7j1-0 > li:before {
  content: "\0025cf  ";
}
.lst-kix_assmsf8ayi2q-7 > li:before {
  content: "\0025cb  ";
}
.lst-kix_yf0reg1hr7j1-2 > li:before {
  content: "\0025a0  ";
}
.lst-kix_yf0reg1hr7j1-4 > li:before {
  content: "\0025cb  ";
}
.lst-kix_5i8t7umqdy6e-1 > li:before {
  content: "\0025cb  ";
}
.lst-kix_o02w6elt8i49-3 > li:before {
  content: "\0025cf  ";
}
.lst-kix_5i8t7umqdy6e-7 > li:before {
  content: "\0025cb  ";
}
.lst-kix_emev3seqtxug-7 > li:before {
  content: "\0025cb  ";
}
.lst-kix_o02w6elt8i49-1 > li:before {
  content: "\0025cb  ";
}
.lst-kix_o02w6elt8i49-5 > li:before {
  content: "\0025a0  ";
}
ul.lst-kix_o02w6elt8i49-6 {
  list-style-type: none;
}
ul.lst-kix_o02w6elt8i49-7 {
  list-style-type: none;
}
ul.lst-kix_o02w6elt8i49-8 {
  list-style-type: none;
}
ul.lst-kix_o02w6elt8i49-2 {
  list-style-type: none;
}
.lst-kix_5i8t7umqdy6e-3 > li:before {
  content: "\0025cf  ";
}
ul.lst-kix_o02w6elt8i49-3 {
  list-style-type: none;
}
ul.lst-kix_o02w6elt8i49-4 {
  list-style-type: none;
}
ul.lst-kix_o02w6elt8i49-5 {
  list-style-type: none;
}
.lst-kix_emev3seqtxug-3 > li:before {
  content: "\0025cf  ";
}
.lst-kix_5i8t7umqdy6e-5 > li:before {
  content: "\0025a0  ";
}
ul.lst-kix_o02w6elt8i49-0 {
  list-style-type: none;
}
ul.lst-kix_o02w6elt8i49-1 {
  list-style-type: none;
}
ul.lst-kix_assmsf8ayi2q-7 {
  list-style-type: none;
}
ul.lst-kix_hdrlpfijzox9-6 {
  list-style-type: none;
}
ul.lst-kix_assmsf8ayi2q-6 {
  list-style-type: none;
}
ul.lst-kix_hdrlpfijzox9-7 {
  list-style-type: none;
}
ul.lst-kix_hdrlpfijzox9-8 {
  list-style-type: none;
}
ul.lst-kix_assmsf8ayi2q-8 {
  list-style-type: none;
}
ul.lst-kix_assmsf8ayi2q-3 {
  list-style-type: none;
}
ul.lst-kix_assmsf8ayi2q-2 {
  list-style-type: none;
}
ul.lst-kix_assmsf8ayi2q-5 {
  list-style-type: none;
}
ul.lst-kix_assmsf8ayi2q-4 {
  list-style-type: none;
}
.lst-kix_o02w6elt8i49-7 > li:before {
  content: "\0025cb  ";
}
ul.lst-kix_assmsf8ayi2q-1 {
  list-style-type: none;
}
ul.lst-kix_hdrlpfijzox9-0 {
  list-style-type: none;
}
.lst-kix_emev3seqtxug-5 > li:before {
  content: "\0025a0  ";
}
ul.lst-kix_assmsf8ayi2q-0 {
  list-style-type: none;
}
ul.lst-kix_hdrlpfijzox9-1 {
  list-style-type: none;
}
ul.lst-kix_hdrlpfijzox9-2 {
  list-style-type: none;
}
ul.lst-kix_hdrlpfijzox9-3 {
  list-style-type: none;
}
ul.lst-kix_hdrlpfijzox9-4 {
  list-style-type: none;
}
ul.lst-kix_hdrlpfijzox9-5 {
  list-style-type: none;
}
.lst-kix_hdrlpfijzox9-8 > li:before {
  content: "\0025a0  ";
}
ul.lst-kix_vjpd0lhu9sqt-2 {
  list-style-type: none;
}
ul.lst-kix_vjpd0lhu9sqt-1 {
  list-style-type: none;
}
ul.lst-kix_vjpd0lhu9sqt-0 {
  list-style-type: none;
}
.lst-kix_hdrlpfijzox9-2 > li:before {
  content: "\0025a0  ";
}
.lst-kix_hdrlpfijzox9-6 > li:before {
  content: "\0025cf  ";
}
.lst-kix_dtioxxule6tl-5 > li:before {
  content: "\0025a0  ";
}
.lst-kix_dtioxxule6tl-7 > li:before {
  content: "\0025cb  ";
}
.lst-kix_hdrlpfijzox9-4 > li:before {
  content: "\0025cb  ";
}
.lst-kix_emev3seqtxug-1 > li:before {
  content: "\0025cb  ";
}
ul.lst-kix_vjpd0lhu9sqt-8 {
  list-style-type: none;
}
ul.lst-kix_vjpd0lhu9sqt-7 {
  list-style-type: none;
}
ul.lst-kix_vjpd0lhu9sqt-6 {
  list-style-type: none;
}
ul.lst-kix_vjpd0lhu9sqt-5 {
  list-style-type: none;
}
ul.lst-kix_vjpd0lhu9sqt-4 {
  list-style-type: none;
}
.lst-kix_ygbnepq87741-8 > li:before {
  content: "\0025a0  ";
}
ul.lst-kix_vjpd0lhu9sqt-3 {
  list-style-type: none;
}
.lst-kix_hdrlpfijzox9-0 > li:before {
  content: "\0025cf  ";
}
.lst-kix_d52h1clnbs3c-5 > li:before {
  content: "\0025a0  ";
}
ul.lst-kix_emev3seqtxug-7 {
  list-style-type: none;
}
.lst-kix_d52h1clnbs3c-3 > li:before {
  content: "\0025cf  ";
}
ul.lst-kix_emev3seqtxug-6 {
  list-style-type: none;
}
.lst-kix_d52h1clnbs3c-2 > li:before {
  content: "\0025a0  ";
}
ul.lst-kix_emev3seqtxug-8 {
  list-style-type: none;
}
.lst-kix_d52h1clnbs3c-6 > li:before {
  content: "\0025cf  ";
}
.lst-kix_d52h1clnbs3c-1 > li:before {
  content: "\0025cb  ";
}
.lst-kix_d52h1clnbs3c-7 > li:before {
  content: "\0025cb  ";
}
.lst-kix_d52h1clnbs3c-0 > li:before {
  content: "\00200b  ";
}
.lst-kix_d52h1clnbs3c-8 > li:before {
  content: "\0025a0  ";
}
.lst-kix_d52h1clnbs3c-4 > li:before {
  content: "\0025cb  ";
}
ul.lst-kix_yf0reg1hr7j1-1 {
  list-style-type: none;
}
ul.lst-kix_yf0reg1hr7j1-2 {
  list-style-type: none;
}
ul.lst-kix_yf0reg1hr7j1-3 {
  list-style-type: none;
}
ul.lst-kix_yf0reg1hr7j1-4 {
  list-style-type: none;
}
ul.lst-kix_yf0reg1hr7j1-0 {
  list-style-type: none;
}
ul.lst-kix_yf0reg1hr7j1-5 {
  list-style-type: none;
}
ul.lst-kix_yf0reg1hr7j1-6 {
  list-style-type: none;
}
ul.lst-kix_yf0reg1hr7j1-7 {
  list-style-type: none;
}
ul.lst-kix_yf0reg1hr7j1-8 {
  list-style-type: none;
}
ul.lst-kix_3expns8knkd9-2 {
  list-style-type: none;
}
ul.lst-kix_3expns8knkd9-1 {
  list-style-type: none;
}
.lst-kix_exz8a46j8ltc-8 > li:before {
  content: "\0025a0  ";
}
ul.lst-kix_3expns8knkd9-4 {
  list-style-type: none;
}
ul.lst-kix_3expns8knkd9-3 {
  list-style-type: none;
}
ul.lst-kix_3expns8knkd9-0 {
  list-style-type: none;
}
ul.lst-kix_emev3seqtxug-3 {
  list-style-type: none;
}
ul.lst-kix_emev3seqtxug-2 {
  list-style-type: none;
}
ul.lst-kix_emev3seqtxug-5 {
  list-style-type: none;
}
ul.lst-kix_emev3seqtxug-4 {
  list-style-type: none;
}
ul.lst-kix_3expns8knkd9-6 {
  list-style-type: none;
}
ul.lst-kix_3expns8knkd9-5 {
  list-style-type: none;
}
ul.lst-kix_3expns8knkd9-8 {
  list-style-type: none;
}
.lst-kix_o02w6elt8i49-0 > li:before {
  content: "\0025cf  ";
}
ul.lst-kix_emev3seqtxug-1 {
  list-style-type: none;
}
ul.lst-kix_3expns8knkd9-7 {
  list-style-type: none;
}
ul.lst-kix_emev3seqtxug-0 {
  list-style-type: none;
}
ul.lst-kix_dtioxxule6tl-7 {
  list-style-type: none;
}
.lst-kix_y09x7usdz5z4-1 > li:before {
  content: "\0025cb  ";
}
.lst-kix_y09x7usdz5z4-2 > li:before {
  content: "\0025a0  ";
}
ul.lst-kix_dtioxxule6tl-8 {
  list-style-type: none;
}
.lst-kix_exz8a46j8ltc-0 > li:before {
  content: "\0025cf  ";
}
.lst-kix_exz8a46j8ltc-1 > li:before {
  content: "\0025cb  ";
}
ul.lst-kix_dtioxxule6tl-3 {
  list-style-type: none;
}
ul.lst-kix_dtioxxule6tl-4 {
  list-style-type: none;
}
ul.lst-kix_dtioxxule6tl-5 {
  list-style-type: none;
}
ul.lst-kix_dtioxxule6tl-6 {
  list-style-type: none;
}
ul.lst-kix_ygbnepq87741-8 {
  list-style-type: none;
}
.lst-kix_y09x7usdz5z4-6 > li:before {
  content: "\0025cf  ";
}
ul.lst-kix_dtioxxule6tl-0 {
  list-style-type: none;
}
.lst-kix_exz8a46j8ltc-5 > li:before {
  content: "\0025a0  ";
}
ul.lst-kix_dtioxxule6tl-1 {
  list-style-type: none;
}
ul.lst-kix_dtioxxule6tl-2 {
  list-style-type: none;
}
.lst-kix_y09x7usdz5z4-0 > li:before {
  content: "\0025cf  ";
}
.lst-kix_y09x7usdz5z4-7 > li:before {
  content: "\0025cb  ";
}
.lst-kix_y09x7usdz5z4-8 > li:before {
  content: "\0025a0  ";
}
.lst-kix_exz8a46j8ltc-6 > li:before {
  content: "\0025cf  ";
}
.lst-kix_exz8a46j8ltc-7 > li:before {
  content: "\0025cb  ";
}
.lst-kix_3expns8knkd9-0 > li:before {
  content: "\00200b  ";
}
ul.lst-kix_ygbnepq87741-0 {
  list-style-type: none;
}
ul.lst-kix_ygbnepq87741-1 {
  list-style-type: none;
}
.lst-kix_3expns8knkd9-1 > li:before {
  content: "\0025cb  ";
}
ul.lst-kix_ygbnepq87741-2 {
  list-style-type: none;
}
ul.lst-kix_ygbnepq87741-3 {
  list-style-type: none;
}
ul.lst-kix_ygbnepq87741-4 {
  list-style-type: none;
}
ul.lst-kix_ygbnepq87741-5 {
  list-style-type: none;
}
ul.lst-kix_ygbnepq87741-6 {
  list-style-type: none;
}
ul.lst-kix_ygbnepq87741-7 {
  list-style-type: none;
}
.lst-kix_y09x7usdz5z4-5 > li:before {
  content: "\0025a0  ";
}
.lst-kix_exz8a46j8ltc-4 > li:before {
  content: "\0025cb  ";
}
.lst-kix_3expns8knkd9-3 > li:before {
  content: "\0025cf  ";
}
.lst-kix_3expns8knkd9-2 > li:before {
  content: "\0025a0  ";
}
.lst-kix_y09x7usdz5z4-3 > li:before {
  content: "\0025cf  ";
}
.lst-kix_y09x7usdz5z4-4 > li:before {
  content: "\0025cb  ";
}
.lst-kix_exz8a46j8ltc-2 > li:before {
  content: "\0025a0  ";
}
.lst-kix_exz8a46j8ltc-3 > li:before {
  content: "\0025cf  ";
}
.lst-kix_3expns8knkd9-8 > li:before {
  content: "\0025a0  ";
}
ul.lst-kix_y09x7usdz5z4-5 {
  list-style-type: none;
}
ul.lst-kix_y09x7usdz5z4-6 {
  list-style-type: none;
}
.lst-kix_3expns8knkd9-7 > li:before {
  content: "\0025cb  ";
}
ul.lst-kix_y09x7usdz5z4-3 {
  list-style-type: none;
}
ul.lst-kix_y09x7usdz5z4-4 {
  list-style-type: none;
}
ul.lst-kix_y09x7usdz5z4-1 {
  list-style-type: none;
}
ul.lst-kix_y09x7usdz5z4-2 {
  list-style-type: none;
}
ul.lst-kix_y09x7usdz5z4-0 {
  list-style-type: none;
}
.lst-kix_3expns8knkd9-4 > li:before {
  content: "\0025cb  ";
}
.lst-kix_3expns8knkd9-5 > li:before {
  content: "\0025a0  ";
}
.lst-kix_3expns8knkd9-6 > li:before {
  content: "\0025cf  ";
}
.lst-kix_ygbnepq87741-5 > li:before {
  content: "\0025a0  ";
}
.lst-kix_assmsf8ayi2q-0 > li:before {
  content: "\0025cf  ";
}
.lst-kix_ygbnepq87741-3 > li:before {
  content: "\0025cf  ";
}
.lst-kix_ygbnepq87741-1 > li:before {
  content: "\0025cb  ";
}
.lst-kix_assmsf8ayi2q-6 > li:before {
  content: "\0025cf  ";
}
.lst-kix_assmsf8ayi2q-2 > li:before {
  content: "\0025a0  ";
}
.lst-kix_assmsf8ayi2q-4 > li:before {
  content: "\0025cb  ";
}
ul.lst-kix_y09x7usdz5z4-7 {
  list-style-type: none;
}
ul.lst-kix_y09x7usdz5z4-8 {
  list-style-type: none;
}
.lst-kix_assmsf8ayi2q-8 > li:before {
  content: "\0025a0  ";
}
.lst-kix_5i8t7umqdy6e-2 > li:before {
  content: "\0025a0  ";
}
.lst-kix_yf0reg1hr7j1-1 > li:before {
  content: "\0025cb  ";
}
.lst-kix_yf0reg1hr7j1-5 > li:before {
  content: "\0025a0  ";
}
.lst-kix_5i8t7umqdy6e-0 > li:before {
  content: "\0025cf  ";
}
.lst-kix_yf0reg1hr7j1-3 > li:before {
  content: "\0025cf  ";
}
.lst-kix_o02w6elt8i49-2 > li:before {
  content: "\0025a0  ";
}
.lst-kix_o02w6elt8i49-6 > li:before {
  content: "\0025cf  ";
}
.lst-kix_5i8t7umqdy6e-6 > li:before {
  content: "\0025cf  ";
}
.lst-kix_emev3seqtxug-4 > li:before {
  content: "\0025cb  ";
}
.lst-kix_emev3seqtxug-8 > li:before {
  content: "\0025a0  ";
}
.lst-kix_o02w6elt8i49-4 > li:before {
  content: "\0025cb  ";
}
.lst-kix_5i8t7umqdy6e-4 > li:before {
  content: "\0025cb  ";
}
.lst-kix_emev3seqtxug-2 > li:before {
  content: "\0025a0  ";
}
ul.lst-kix_p33w5eaoe1l3-6 {
  list-style-type: none;
}
ul.lst-kix_p33w5eaoe1l3-5 {
  list-style-type: none;
}
ul.lst-kix_p33w5eaoe1l3-8 {
  list-style-type: none;
}
ul.lst-kix_p33w5eaoe1l3-7 {
  list-style-type: none;
}
ul.lst-kix_p33w5eaoe1l3-2 {
  list-style-type: none;
}
ul.lst-kix_p33w5eaoe1l3-1 {
  list-style-type: none;
}
ul.lst-kix_p33w5eaoe1l3-4 {
  list-style-type: none;
}
ul.lst-kix_p33w5eaoe1l3-3 {
  list-style-type: none;
}
ul.lst-kix_p33w5eaoe1l3-0 {
  list-style-type: none;
}
.lst-kix_hdrlpfijzox9-7 > li:before {
  content: "\0025cb  ";
}
.lst-kix_o02w6elt8i49-8 > li:before {
  content: "\0025a0  ";
}
.lst-kix_5i8t7umqdy6e-8 > li:before {
  content: "\0025a0  ";
}
.lst-kix_emev3seqtxug-6 > li:before {
  content: "\0025cf  ";
}
.lst-kix_hdrlpfijzox9-3 > li:before {
  content: "\0025cf  ";
}
.lst-kix_hdrlpfijzox9-5 > li:before {
  content: "\0025a0  ";
}
.lst-kix_dtioxxule6tl-8 > li:before {
  content: "\0025a0  ";
}
li.li-bullet-0:before {
  margin-left: -18pt;
  white-space: nowrap;
  display: inline-block;
  min-width: 18pt;
}
.lst-kix_dtioxxule6tl-6 > li:before {
  content: "\0025cf  ";
}
.lst-kix_emev3seqtxug-0 > li:before {
  content: "\0025cf  ";
}
ul.lst-kix_dis5xyld7qab-8 {
  list-style-type: none;
}
ul.lst-kix_dis5xyld7qab-7 {
  list-style-type: none;
}
.lst-kix_hdrlpfijzox9-1 > li:before {
  content: "\0025cb  ";
}
ul.lst-kix_dis5xyld7qab-6 {
  list-style-type: none;
}
.lst-kix_ygbnepq87741-7 > li:before {
  content: "\0025cb  ";
} */
ol {
  margin: 0;
  padding: 0;
}
table td,
table th {
  padding: 0;
}
.firstSectionTitle {
  margin: 0 0 10px 0;
  line-height: 1;
  text-align: left;
}
.c1 {
  color: #666666;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 9pt;
  font-family: "Merriweather";
  font-style: normal;
}
.c2 {
  color: #2079c7;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 9pt;
  font-family: "Merriweather";
  font-style: normal;
}
.c3 {
  margin-left: 36pt;
  padding-top: 0pt;
  padding-left: 0pt;
  padding-bottom: 0pt;
  line-height: 1.3;
  text-align: left;
  margin-right: 3pt;
}
.c4 {
  font-size: 10pt;
  font-style: italic;
  font-weight: 400;
}
.c5 {
  padding-top: 6pt;
  padding-bottom: 0pt;
  line-height: 1.3;
  text-align: left;
  margin-right: 15pt;
  height: 9pt;
}
.bold {
  /* font-weight: 700; */
  font-weight: bold;
}
.c7 {
  border-spacing: 0;
  border-collapse: collapse;
  margin: auto;
  overflow: scroll;
}
.rightColumnListItem {
  margin: 10px 0;
  line-height: 1.3;
}
.c9 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
  margin-right: 3pt;
  height: 9pt;
}
.c10 {
  padding-top: 4pt;
  padding-bottom: 0pt;
  line-height: 1.3;
  text-align: left;
  margin-right: 3pt;
}
/* .c12 {
  padding-top: 6pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
  margin-right: 15pt;
  height: 9pt;
} */
.c13 {
  /* border-right-style: solid; */
  padding: 10px;
  /* border-bottom-color: #ffffff;
  border-top-width: 0pt;
  border-right-width: 0pt;
  border-left-color: #ffffff; */
  vertical-align: top;
  /* border-right-color: #ffffff;
  border-left-width: 0pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 0pt; */
  width: 369pt;
  /* border-top-color: #ffffff;
  border-bottom-style: solid; */
}
.c14 {
  height: 9pt;
}
.c16 {
  padding: 0;
  margin: 0;
}
.c17 {
  text-decoration-skip-ink: none;
  -webkit-text-decoration-skip: none;
  color: #2079c7;
  text-decoration: underline;
}
.subjectTitle {
  margin: 10px 0 5px 0;
  line-height: 1;
}
.subjectSubtitle {
  margin: 5px 0;
  line-height: 1;
}
.name {
  color: #000000;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 48px;
  font-family: "Merriweather";
  font-style: normal;
  font-weight: bold;
}
.c20 {
  /* border-right-style: solid; */
  padding: 10px;
  /* border-bottom-color: #ffffff;
  border-top-width: 0pt;
  border-right-width: 0pt;
  border-left-color: #ffffff; */
  vertical-align: top;
  /* border-right-color: #ffffff;
  border-left-width: 0pt;
  border-top-style: solid; */
  background-color: #efefef;
  /* border-left-style: solid;
  border-bottom-width: 0pt; */
  width: 154.5pt;
  /* border-top-color: #ffffff;
  border-bottom-style: solid; */
}
.c21 {
  padding-top: 5pt;
  padding-bottom: 5pt;
  line-height: 1.3;
  text-align: left;
  margin-right: 15pt;
}
.c22 {
  color: #2079c7;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 9pt;
  font-family: "Open Sans";
  font-style: normal;
}
.c24 {
  height: 62.2pt;
}
.c25 {
  color: #000000;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 9pt;
  font-family: "Open Sans";
  font-style: normal;
}
.c26 {
  color: #666666;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 9pt;
  font-family: "Merriweather";
  font-style: normal;
}
.c27 {
  color: #000000;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Merriweather";
  font-style: normal;
}
.c28 {
  font-size: 9pt;
  font-weight: 400;
}
.c29 {
  border-right-style: solid;
  padding: 5pt 5pt 5pt 5pt;
  border-bottom-color: #000000;
  border-top-width: 0pt;
  border-right-width: 0pt;
  border-left-color: #000000;
  vertical-align: top;
  border-right-color: #000000;
  border-left-width: 0pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 0pt;
  width: 183pt;
  border-top-color: #000000;
  border-bottom-style: solid;
}
.c30 {
  background-color: #ffffff;
  max-width: 100%;
  padding: 20px;
}
.c31 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.3;
  text-align: left;
  margin-right: 1.5pt;
}
.c32 {
  margin-left: 0pt;
  list-style-position: inside;
  text-indent: 45pt;
}
.dateRange {
  font-size: 8pt;
  font-family: "Open Sans";
  color: #666666;
  font-weight: 400;
  text-align: right;
}
.c34 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
  margin-right: 3pt;
}
.c35 {
  border-right-style: solid;
  padding: 5pt 5pt 5pt 5pt;
  border-bottom-color: #000000;
  border-top-width: 0pt;
  border-right-width: 0pt;
  border-left-color: #000000;
  vertical-align: top;
  border-right-color: #000000;
  border-left-width: 0pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 0pt;
  width: 159pt;
  border-top-color: #000000;
  border-bottom-style: solid;
}
.c36 {
  color: #666666;
  text-decoration: none;
  vertical-align: baseline;
  font-family: "Merriweather";
  font-style: italic;
}
.c37 {
  padding-top: 10pt;
  padding-bottom: 5pt;
  line-height: 1;
  text-align: left;
  margin-right: 1.5pt;
}
.gpa {
  font-family: "Open Sans";
  color: #666666;
  font-weight: bold;
  font-size: 12px;
}
.c39 {
  color: #000000;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 10pt;
  font-family: "Merriweather";
  font-style: normal;
}
.c40 {
  color: #666666;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 1pt;
  font-family: "Merriweather";
  font-style: normal;
}
.otherSectionTitle {
  margin: 10px 0;
  line-height: 1;
}
.c42 {
  font-size: 10pt;
  font-weight: 400;
}
/* .c43 {
  font-weight: 400;
}
.c44 {
  color: #666666;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 6pt;
  font-family: "Merriweather";
  font-style: normal;
} */
.c45 {
  color: inherit;
  text-decoration: inherit;
}
.c46 {
  padding-top: 4pt;
  padding-bottom: 3pt;
  line-height: 1;
  text-align: left;
  margin-right: 3pt;
}
.c47 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.3;
  text-align: left;
  margin-right: 3pt;
}
.c48 {
  color: #b7b7b7;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 9pt;
  font-family: "Open Sans";
  font-style: normal;
}
.c49 {
  padding-top: 5pt;
  padding-bottom: 0pt;
  line-height: 1.3;
  text-align: left;
  margin-right: 15pt;
}
.c50 {
  font-size: 9pt;
}
.c51 {
  padding-top: 0pt;
  padding-bottom: 5pt;
  line-height: 1;
  text-align: left;
  margin-right: 1.5pt;
}
.c52 {
  margin-left: 31.5pt;
  padding-left: 0pt;
}
.c53 {
  height: 588pt;
}
.c54 {
  height: 0pt;
}
.c55 {
  color: #000000;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 12pt;
  font-family: "Merriweather";
  font-style: normal;
}
.title {
  padding-top: 0pt;
  color: #000000;
  font-weight: 700;
  font-size: 36pt;
  padding-bottom: 6pt;
  font-family: "Merriweather";
  line-height: 1;
  text-align: left;
}
.subtitle {
  padding-top: 0pt;
  color: #000000;
  font-size: 9pt;
  padding-bottom: 0pt;
  font-family: "Open Sans";
  line-height: 1.15;
  text-align: left;
}
li {
  color: #666666;
  font-size: 9pt;
  font-family: "Merriweather";
}
p {
  margin: 0;
  color: #666666;
  font-size: 9pt;
  font-family: "Merriweather";
}
h1 {
  margin: 0;
  color: #2079c7;
  font-weight: 700;
  font-size: 9pt;
  font-family: "Open Sans";
  line-height: 1;
  text-align: left;
}
h2 {
  color: #000000;
  font-weight: 700;
  font-size: 11pt;
  font-family: "Merriweather";
  line-height: 1;
  page-break-after: avoid;
  text-align: left;
}
h3 {
  padding-top: 5pt;
  color: #666666;
  font-size: 8pt;
  padding-bottom: 5pt;
  font-family: "Open Sans";
  line-height: 1;
  page-break-after: avoid;
  text-align: left;
}
h4 {
  padding-top: 8pt;
  -webkit-text-decoration-skip: none;
  color: #666666;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  font-size: 11pt;
  padding-bottom: 0pt;
  font-family: "Trebuchet MS";
  line-height: 1.3;
  page-break-after: avoid;
  text-align: left;
}
h5 {
  padding-top: 8pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 0pt;
  font-family: "Trebuchet MS";
  line-height: 1.3;
  page-break-after: avoid;
  text-align: left;
}
h6 {
  padding-top: 8pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 0pt;
  font-family: "Trebuchet MS";
  line-height: 1.3;
  page-break-after: avoid;
  font-style: italic;
  text-align: left;
}
a {
  text-decoration: none;
}
