/* Created by Kelan Albertson - August 30, 2022 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: lightgray; */
    color: rgb(24, 41, 41);
    overflow-x: hidden;
    font-size: 1.125rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

section {
    /* border: 3px solid black; */
}

div {
    /* border: 1px solid black */
}

#container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 3fr 4fr 13fr 44fr;
    grid-template-areas:
        "header header header"
        "regex regex regex"
        "example example example"
        "blockly blockly blockly";
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100vw;
    height: 100vh;
}

#headerBox {
    grid-area: header;
    padding-left: 1rem;
    padding-right: 1rem;
    /* background-color: #cdcccc; */
    background-color: whitesmoke;
    font-size: 30px;
    border-bottom: 3px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#header {
    float: left;
}

#helpButton {
    background-color: #d3d3d3; 
    color: black;
    border: 2px solid #d3d3d3;
    border-radius: 4px;
    padding: 3px 60px;
    margin-left: 60px;
    margin-right: 60px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    transition-duration: 0.2s;
}

#helpButton:hover {
    background-color: white;
    color: black;
    border: 2px solid #d3d3d3;
}

#blocklyLogo {
    width: 140px;
    height: 30px;
    float: right;
}

#regexBox {
    grid-area: regex;
    background-color: #c94c4c;
}

#regexDiv {
    float: left;
}

#regexLabel {
    float: left;
    font-size: 36px;
    font-weight: bold;
    padding-left: 1rem;
}

#regexResult {
    float: right;
    font-size: 36px;
    /* font-weight: bold; */
    padding-left: 1rem;
    padding-right: 1rem;
}

#examplesBox {
    grid-area: example;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #eea29a;
}

#examplesLabel {
    float: top;
    font-weight: bold;
}

#examplesResult {
    float: bottom;
    white-space: pre-line;
}

#blocklyBox {
    grid-area: blockly;
    padding: 1rem;
    background-color: #b1cbbb;
}

#blocklyDiv {
    position: absolute;
}

/* The Modal (background) */
#modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
/* Modal Content/Box */
#modalContent {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    /* padding: 1px; */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    /* white-space: pre-line; */
    border-radius: 4px;
}

#modalHeader {
    height: 60px;
    background-color: #aaa;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 30px;
    border-bottom: 3px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
  
/* The Close Button */
#close {
    color: black;
    float: right;
    font-size: 36px;
    font-weight: bold;
    /* float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray; */
}
  
#close:hover,
#close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
    /* background-color: darkgray; */
}

#modalText {
    
}